@import 'mixins';

/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;
$positive: #7F57E9 !default;
$calm: #F9E059 !default;
// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

@include font-face('San Francisco Light', 'sanfranciscotext-light-webfont', 'San Francisco Light', 'sans-serif');
@include font-face('San Francisco Bold', 'sanfranciscotext-bold-webfont', 'San Francisco Bold', 'sans-serif');

body {
	font-family: 'San Francisco Light';
	text-align: center;
}
.button {
	font-family: 'San Francisco Bold';
	font-size: 18px;
}
.button-start {
	position: absolute;
	bottom: 140px;
	left: 50%;
	transform: translateX(-50%);
}
.app-name {
	margin-top: 190px !important;
	font-size: 24px;
	font-family: 'San Francisco Bold';
}
.about {
	font-size: 18px;
	color: white;
	width: 70%;
	margin: auto;
	font-family: 'San Francisco Light';
}
.main-color {
	color: #F9E059;
}

.overlay {
	background: rgba(0,0,0,.5);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	.tutorial {
		position: absolute;
		margin: 0;
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
		.item {
			color: white;
			text-align: center;
			&:after {
				display: none;
			}
		}
	}
}

.bar {
	border: 0;
	.title {
		color: white;
	}
}

.modal {
	background: #1F2433;
	.spinner {
		opacity: 0;
		transition: all 350ms ease;
	}
	&.show-loader {
		.spinner {
			opacity: 1;
		}
		.result {
			transform: scale(.6);
			opacity: 0;
			visibility: hidden;
		}
	}
}
.result {
	transform: scale(1);
	opacity: 1;
	visibility: visible;
	transition: all 350ms ease;
}

.back-button {
	position: relative;
	z-index: 2;
	top: 20px;
	font-size: 24px;
	color: #A08FEC !important;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	&.active {
		.take-photo {
			transform: translateX(0);
		}
		.show-result {
			transform: scale(1);
			opacity: 1;
			visibility: visible;
		}
	}
}

.take-photo {
	width: 100px;
	height: 100px;
	background: red;
	position: absolute;
	left: 50%;
	margin-left: -80px;
	border-radius: 50%;
	color: white;
	font-size: 34px;
	bottom: 60px;
	border: 0;
	padding: 0;
	transform: translateX(30px);
	transition: all 350ms ease;
}

.show-result {
	width: 60px;
	height: 60px;
	background: red;
	position: absolute;
	left: 50%;
	margin-left: 50px;
	border-radius: 50%;
	color: white;
	font-size: 24px;
	bottom: 70px;
	border: 0;
	padding: 0;
	transform: scale(.6);
	opacity: 0;
	visibility: hidden;
	transition: all 350ms ease;
}

.card {
	background: transparent;
	box-shadow: none;
}
.item {
	background: #2D3241;
	border: 0;
	position: relative;
	&:after {
		content: '';
		height: 1px;
		background: #393D4C;
		display: block;
		position: absolute;
		bottom: 1px;
		left: 20px;
		right: 20px;
	}
	&:last-child {
		&:after {
			display: none;
		}
	}
}

.pane {
	background: black;
}

.purple-gradient {
	@include horizontal-gradient(#7F57E9, #A08FEC);
}
.orange-gradient {
	@include horizontal-gradient(#E46930, #DB8835);
}
.red-gradient {
	@include horizontal-gradient(#BF233A, #F5515F);
}

.button-remove-line {
	top: 11px !important;
}

.item-input {
	padding: 0;
	margin: 0;
	top: 3px;
	input {
		color: #E0E0E2;
	}
}
.spinner {
	left: 50%;
	top: 50%;
	position: absolute;
	margin: -50px 0 0 -50px;
}
.spinner svg {
	stroke: #A08FEC;
	width: 100px;
	height: 100px;
}
.show-tooltip {
	.tooltip {
		transform: translateY(0) scale(1);
		opacity: 1;
		visibility: visible;
	}
	.photo-mask {
		opacity: .3;
	}
}
.tooltip {
	background: #E35050;
	font-size: 16px;
	color: white;
	padding: 10px;
	border-radius: 4px;
	left: 0;
	right: 0;
	transform: translateY(50px) scale(.5);
	opacity: 0;
	visibility: hidden;
	position: absolute;
	bottom: 60px;
	transition: all 350ms ease;
	&:after {
		content: '';
		background: #E35050;
		width: 24px;
		height: 24px;
		display: block;
		position: absolute;
		transform: translateX(-50%) rotateZ(45deg);
		border-radius: 4px;
		bottom: -8px;
		left: 50%;
	}
	p {
		margin: 0;
		padding: 0;
		position: relative;
		z-index: 2;
	}
}
.photo-mask {
	width: 160px;
	height: 160px;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	margin: 150px auto 0;
	transition: all 350ms ease;
	img {
		width: 160px;
	}
}
.user-name-input {
	border-bottom: 1px solid #494949;
	margin: 25px 50px;
	overflow: initial;
	input {
		text-align: center;
		padding: 0;
		color: white;
		font-size: 24px;
		font-family: 'San Francisco Light';
		height: 54px;
		line-height: 54px;
	}
}
.selected-person-photo {
	display: block;
	margin: auto;
}
.selected-person-title {
	text-align: center;
	color: #E0E0E2;
	font-weight: 200;
}

.all-the-people {
	font-size: 0;
	.button {
		margin-top: 40px;
		display: block;
		clear: both;
	}
	li {
		float: left;
		width: 50%;
		height: 160px;
		box-sizing: border-box;
		border-radius: 50%;
		overflow: hidden;
		padding: 20px;
		position: relative;
		h4 {
			position: absolute;
			top: 50%;
			left: 50%;
			text-align: center;
			color: white;
			margin: 0;
			font-family: 'San Francisco Light';
			transform: translateY(-50%) translateX(-50%)
		}
		img {
			display: block;
			width: 110px;
			height: 110px;
			border-radius: 50%;
			opacity: .3;
		}
	}
	.add-person {
		width: 110px;
		height: 110px;
		border-radius: 50%;
		border: 2px solid #F9E059;
		box-sizing: border-box;
		background: none;
		position: relative;
		&:after {
			width: 2px;
			height: 60px;
			background: #F9E059;
			content: '';
			position: absolute;
			left: 50%;
			top: 50%;
			margin: -30px 0 0 -1px;
		}
		&:before {
			height: 2px;
			width: 60px;
			background: #F9E059;
			content: '';
			position: absolute;
			left: 50%;
			top: 50%;
			margin: -1px 0 0 -30px;
		}
	}
}