<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Security-Policy" content="default-src &apos;self&apos; data: gap: https://ssl.gstatic.com &apos;unsafe-eval&apos;; style-src &apos;self&apos; &apos;unsafe-inline&apos;; media-src *">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
	<!-- <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width"> -->
	<title></title>

	<link href="css/ionic.app.css" rel="stylesheet">
	<script src="lib/ionic/js/ionic.bundle.js"></script>

	<script src="cordova.js"></script>

	<script src="js/app.js"></script>
	<script src="js/services/camera-service.js"></script>
	<script src="js/controllers/main-controller.js"></script>
</head>
<body ng-app="peoplemizer">
	<ion-pane ng-controller="main-controller">
		<ion-header-bar class="purple-gradient">
			<h1 class="title">Peoplemizer</h1>
		</ion-header-bar>

		<ion-content>
			<div class="container padding">
				<div class="list card">
					<ion-item class="item-avatar item-icon-right item-container" ng-repeat="person in people">
						<img ng-src="{{ person.url }}" class="photo">
						<label class="item-input">
							<input type="text" placeholder="Name" class="item-input-field" ng-model="person.name" ng-blur="setRandomButtonState()">
						</label>
						<button class="button button-clear icon ion-close-circled button-remove-line" ng-click="remove($index)"></button>
					</ion-item>
				</div>
			</div>
		</ion-content>

		<div class="footer" ng-class="{ 'active' : people.length > 1 && showRandomButton }">
			<div class="tutorial card">
				<div class="item item-text-wrap" ng-show="people.length == 0">
					First of all, take a picture from someone.
				</div>
				<div class="item item-text-wrap" ng-show="people.length == 1">
					Good start, but we need at least two people to randomize. Try adding one more picture.
				</div>
				<div class="item item-text-wrap" ng-show="people.length == 2">
					This is great! Now you can randomize between these two people or add more to join the random.
				</div>
			</div>

			<button class="ion-camera take-photo red-gradient" ng-click="getPhoto()"></button>
			<button class="ion-shuffle show-result orange-gradient" ng-click="showResult()"></button>
		</div>

		<script id="result.html" type="text/ng-template">
			<div class="modal" ng-class="{ 'show-loader' : showLoader }">
				<button class="button button-clear ion-close-round back-button" ng-click="closeResult()"></button>
				<ion-content scroll="false">
					<ion-spinner icon="ripple" class="loader"></ion-spinner>

					<div class="result">
						<img ng-src="{{ selectedPersonPhoto.url }}" class="selected-person-photo">
						<h2 class="title selected-person-title">{{ selectedPersonPhoto.name }}</h2>
					</div>
				</ion-content>
			</div>
		</script>

	</ion-pane>
</body>
</html>
