<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Security-Policy" content="default-src &apos;self&apos; data: gap: https://ssl.gstatic.com &apos;unsafe-eval&apos;; style-src &apos;self&apos; &apos;unsafe-inline&apos;; media-src *">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
	<!-- <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width"> -->
	<title></title>

	<link href="css/ionic.app.css" rel="stylesheet">
	<script src="lib/ionic/js/ionic.bundle.js"></script>

	<script src="cordova.js"></script>

	<script src="js/app.js"></script>
	<script src="js/services/camera-service.js"></script>
	<script src="js/controllers/main-controller.js"></script>
</head>
<body ng-app="peoplemizer">
	<ion-pane ng-controller="main-controller">
		<ion-header-bar class="bar-stable">
			<h1 class="title">Peoplemizer</h1>
		</ion-header-bar>

		<ion-content>
			<div class="container padding">
				<ion-item class="item-avatar" ng-repeat="image in images">
					<img ng-src="{{ image.url }}" width="150">
					<button class="button button-clear icon ion-close-circled button-remove-line"></button>
				</ion-item>
			</div>
		</ion-content>

		<ion-footer-bar class="bar-balanced" ng-click="getPhoto()">
			<div class="title">C&#xE2;mera</div>
		</ion-footer-bar>

	</ion-pane>
</body>
</html>
